*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Arial, sans-serif;
}

.row{
    display: flex;
}

.encabezado{
    width: 1200px;
    margin: 0 auto;
    border-bottom: solid 2px;
    background-color:white;
    padding:15px;
justify-content: space-between;

}
.img-encabezado{
    border-color:white;
}
.boton1{
    background-color:#095384;
    color: white;
    border: 1px solid black;
    padding-left: 5px;
   padding-right: 5PX;
}
.boton2{
    background-color:#9fc5f8;
    color:black;
    border: 1px solid black;
   padding-left: 5px;
   padding-right: 5px;
}
.barra{
    width: 1200px;
    margin:  0 auto;
    justify-content: space-around;
    display: flex;
}
.alineacion{
    display: flex;
    align-items: center;
    padding:20px;
 
}
nav a{
    text-decoration: none;
    color:black
}

.col-1,
.col-2,
.col-3{
    flex: 1;
    padding: 10px;
    background-color: white;
}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}
.partefinal{
    margin: 0 auto;
    width: 1200px;
    justify-items: center;
    background-color: #095384;
    color: white;
}
.letra{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
.letra a{
    text-decoration: none;
    color: black;

}

.subtitulo{
    font-size: 35px;
    text-align: center;
    color:black;
    padding: 20px;
}
.store{
    background-color: #dddddd;
    width: 1200px;
    margin: 0 auto;
}
.barra-nav{
    justify-content: center;
    align-items: center;
    background-color: #9fc5f8;
    padding: 10px;
}
.barra-nav a{
    margin-left: 20px;
    margin-right: 20px;
 
}
.navegacion{
    font-size: 40px;
    font-family: monospace;
}
.carrito{
    width: 35px;
    height: 35px;
    margin-top: 5px;
}
.nav{
    margin-left: 80px;
}
.coming{
    width: 1200px;
    margin: 0 auto;
    margin-top: 35px;
}
.ososrosas{
    width: 280px;
}
.botones{
    width: 1200px;
    margin: 0  auto;
    justify-content: space-around;
    align-items: center;
}

.boton{
    background-color:#9fc5f8;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 8px;
    width: 100px;
    margin-top: 10px;
}

.boton:hover{
    border: 1px solid black;
}
.fin{
    background-color: #dddddd;
}

